* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.profileimage {
  width: 20%;
  float: left;
}

.dummyclass {
  text-align: left;
}

.container {
  background-color: powderblue;
}
.tt {
  background-color: #395b64;
}
.projt {
  margin-left: 22%;
}
.skills {
  margin-left: 22%;
  width: 50%;
}
.skil {
  background-color: black;
}
.projz {
  background-color: black;
  color: white;
  padding: 2%;
}
