* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 28%,
    rgba(0, 212, 255, 1) 100%
  );
}

html {
  font-size: 16px;
}

.wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.container {
  width: 50vmin;
  height: 50vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}

.page-header {
  text-align: center;
  margin-top: 2.5%;
  color: #fff;
}

.page-header span {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
  border: 3px dotted black;
}

.button-option {
  background: #ffffff;
  height: 15vmin;
  width: 15vmin;
  border: none;
  border-radius: 25%;
  font-size: 12vmin;
  color: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.button-option:hover {
  background-color: gold;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

.outside-button {
  font-size: 1.3em;
  padding: 1em;
  border-radius: 8px;
  background-color: #0a0027;
  color: #ffffff;
  border: none;
  position: relative;
  margin: 1.5em auto 0 auto;
  display: block;
}

.outside-button a {
  text-decoration: none;
  color: #fff;
}
.outside-button:hover {
  background-color: rgb(9, 221, 245);
  border-radius: 90%;
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.3);
}

.popup {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 80%,
    rgba(2, 0, 36, 1) 100%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-size: 12vmin;
}

#new-game {
  font-size: 0.6em;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  border: none;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 28%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
}

#message {
  color: #ffffff;
  text-align: center;
  font-size: 1em;
}

.popup.hide {
  display: none;
}
